node_modules
dist
.env
.env.local
.env.*.local
*.log
.DS_Store
.vite

# Server-specific
server/node_modules
server/credentials/sa.json
server/credentials/*.json
server/.env
server/dist

# Client-specific
client/node_modules
client/dist
client/.vite
